body,
html {
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f3f8 !important;
    /* background-color: #f9eeee !important;*/
}

*,
*:after,
*::before {
    box-sizing: border-box;
}

.fp-tableCell {
    height: 0 !important;
}

.azimbaraka-img {}


a {
    color: #fff;
    text-decoration: none;
}

.container-body {
    width: 100%;
    height: 100%;
}

.sticky-head {
    width: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.head-text2 ul li {
    list-style-type: none;
    font-family: arial;
}

.head-text3-itm {
    font-family: MS UI Gothic;
}

.fab,
.fas {
    font-size: 20px;
}

.head-text2-itm::after {
    content: "|";
    font-size: 22px;
}

.sticky-head2 {
    margin-top: 97px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.6);
}

.sticky-head2-itm li {
    list-style-type: none;
    font-size: 20px;
    font-family: Bahnschrift SemiLight Condensed;
    font-weight: bold;

}

.sticky-head2-itm {
    margin: 10px;
    padding: 10px;
}

.content {
    background-image: url(../images/02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
}

.horizontal:hover {
    transform: scale(1.005);
    transition: all 0.5s;
}

.name-text {
    font-family: Segoe UI Black;
}

.fas,
.fab {
    font-size: 20px;
}

.plagen {
    width: 500px;
}

.navbar-brand {
    font-size: 35px !important;
}

figure.effect-zoe:hover .parda img {
    opacity: 0.5;
}

.grid {
    margin-top: 100px;
}

.text-img {
    width: 800px;
    height: 200px;
}

.slick {
    width: 100%;
    margin: auto;
}

.slick img {
    width: 100%;
    height: 100%;
}

.effect-zoe {
    box-shadow: 1px 1px 14px -5px rgba(0, 0, 0, 1);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.4);
}

.pngg {
    width: 140px;
    height: 80px;
    margin-bottom: -15px
}

.hotel-qanot {
    z-index: -1;
    left: 0;
    top: 0;
    background-image: linear-gradient(to top left, blue, pink);
}

.hotel-qanot2 {
    z-index: -1;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom right, blue, pink);
}

.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

.text-span {
    width: 40px;
    height: 2px;
    background-color: red;
}

.text-span2 {
    width: 40px;
    height: 2px;
    background-color: blue;
}

.text2 {
    font-weight: bold;
    font-family: Arial;
    line-height: 1;
    margin-bottom: 1rem;
    margin-top: -5px;
}

.kres {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
}

.kres2 {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 300px;
}

.kres3 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
}


.hotel-qanot-box {
    box-shadow: -6px 4px 20px 1px #4A4A4A;
}

.text3-inner-text3-palka {
    width: 4px;
    border-radius: 5px;
}

.kres4 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
}

.own-kres {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: red;
}

.first-kres {
    position: absolute;
    background-color: darkblue;
    left: 20px;
    top: 20px;
    width: 50px;
    height: 2px;
    transform: rotateZ(45deg);
    display: none;
}

.second-kres {
    position: absolute;
    background-color: darkblue;
    left: 20px;
    top: 20px;
    width: 50px;
    height: 2px;
    transform: rotateZ(135deg);
    display: none;
}


.own-kres2 {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: red;
}

.first-kres2 {
    position: absolute;
    background-color: darkblue;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 2px;
    transform: rotateZ(45deg);
    display: none;
}

.second-kres2 {
    position: absolute;
    background-color: darkblue;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 2px;
    transform: rotateZ(135deg);
    display: none;
}


.own-kres3 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: red;
}

.first-kres3 {
    position: absolute;
    background-color: darkblue;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height: 2px;
    transform: rotateZ(45deg);
    display: none;
}

.second-kres3 {
    position: absolute;
    background-color: darkblue;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height: 2px;
    transform: rotateZ(135deg);
    display: none;
}


.own-kres4 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: red;
}

.first-kres4 {
    position: absolute;
    background-color: darkblue;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 2px;
    transform: rotateZ(45deg);
    display: none;
}

.second-kres4 {
    position: absolute;
    background-color: darkblue;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 2px;
    transform: rotateZ(135deg);
    display: none;
}

.menu {
    background: rgba(0, 0, 0, 0.5);
    height: 3rem;
}


.menu div ol {
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0;
}

.menu>div>ol {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.menu>div>ol>li {
    margin-right: 50px;
}

.menu>ol>.menu-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0.75rem 0;
}

.menu>ol>.menu-item:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    bottom: 5px;
    left: calc(50% - 2px);
    background: #FECEAB;
    will-change: transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.menu>ol>.menu-item:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.menu-item {
    position: relative;
    line-height: 2.5rem;
    text-align: center;
}



.menu-item>a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2rem;

}

.sub-menu .menu-item {
    padding: 0.75rem 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    width: 170px;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-animation: enter 0.2s ease forwards;
    animation: enter 0.2s ease forwards;
}

.sub-menu .menu-item:nth-child(1) {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sub-menu .menu-item:nth-child(2) {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sub-menu .menu-item:nth-child(3) {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sub-menu .menu-item:hover {
    background: rgba(0, 0, 0, 0.5);
}

.sub-menu .menu-item a {
    padding: 0 0.75rem;
    font-weight: bold !important;

}

.menu-item a:hover {
    text-decoration: none;
    color: white;
    border-top: 1px solid white;
    transition: all 0.5s;
}

@media screen and (max-width: 600px) {
    .sub-menu .menu-item {
        background: #C06C84;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        position: relative;
    }

    .menu:after {
        content: "";
        position: absolute;
        top: calc(50% - 2px);
        right: 1rem;
        width: 30px;
        height: 4px;
        background: #FFF;
        -webkit-box-shadow: 0 10px #FFF, 0 -10px #FFF;
        box-shadow: 0 10px #FFF, 0 -10px #FFF;
    }

    .menu>ol {
        display: none;
        background: #F67280;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100vh;
        -webkit-animation: fade 0.2s ease-out;
        animation: fade 0.2s ease-out;
    }

    .menu>ol>.menu-item {
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0;
        opacity: 0;
        -webkit-animation: enter 0.3s ease-out forwards;
        animation: enter 0.3s ease-out forwards;
    }

    .menu>ol>.menu-item:nth-child(1) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .menu>ol>.menu-item:nth-child(2) {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .menu>ol>.menu-item:nth-child(3) {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .menu>ol>.menu-item:nth-child(4) {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .menu>ol>.menu-item:nth-child(5) {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .menu>ol>.menu-item+.menu-item {
        margin-top: 0.75rem;
    }

    .menu>ol>.menu-item:after {
        left: auto;
        right: 1rem;
        bottom: calc(50% - 2px);
    }

    .menu>ol>.menu-item:hover {
        z-index: 1;
    }

    .menu:hover>ol {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .menu:hover:after {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}


.sub-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: -10%;
    display: none;
    z-index: 1;
}

.menu-item:hover>.sub-menu {
    display: block;
}

@media screen and (max-width: 600px) {
    .sub-menu {
        width: 100vw;
        left: -2rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

@-webkit-keyframes enter {
    from {
        opacity: 0;
        -webkit-transform: scaleY(0.98) translateY(10px);
        transform: scaleY(0.98) translateY(10px);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes enter {
    from {
        opacity: 0;
        -webkit-transform: scaleY(0.98) translateY(10px);
        transform: scaleY(0.98) translateY(10px);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.carousel-item-word {
    position: absolute;
    width: 100%;
    left: 100px;
    bottom: 100px;
    color: white;
}

.carousel-item-text {
    font-size: 2rem;
    font-family: Segoe Print;
}

.carousel-item-text2 {
    position: absolute;
    right: 200px;
    bottom: 50px;
    font-size: 1.2rem;
    font-family: arial;
}

.carousel-item-text3 {
    font-size: 1.2rem;
    font-family: arial;
}

.second-page {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.second-page-itm {
    z-index: 1;
}

.second-page3 {
    width: 100%;
    height: 100%;
    background-color: #152121;
}

.second-page3-text {
    text-align: center;
    font-size: 3rem;
    font-family: Constantia;
    font-weight: bold;

}

.second-page3-text2 {
    font-size: 1.3rem;
    font-family: Constantia;
    font-weight: bold;
    text-align: center;
}

.second-page3-btn {
    border: 1px solid grey;
    color: grey;
    padding: 10px;
    width: 200px;
}

.slick-track {
    /*background-color: rgba(255, 255, 255, 0.1);*/
    /*display: none;*/
    /*visibility: hidden;*/
}

.second-page-itm-text {

    text-align: center;
    padding-top: 150px;
    font-family: Constantia;
    font-weight: bold;
    font-size: 3.5rem;
}

.second-page-itm-btn {
    border: 1px solid grey;
    color: grey;
    padding: 12px;
}



.carousel-indicators {
    display: none !important;
}

.controls-top {
    visibility: hidden !important;
}

.contain-newpage-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.contain-newpage {
    height: 350px;
    width: 80%;
    box-shadow: -6px 4px 20px 1px #2A2A2A;
    background-image: linear-gradient(to top left, #CC2259, #EF9920);
    overflow: hidden;
}

.contain-newpage2 {
    top: 505px;
    left: 11%;
    position: absolute;
    height: 350px;
    width: 80%;
    box-shadow: -6px 4px 20px 1px #2A2A2A;
    background-image: linear-gradient(to top left, #CC2259, #EF9920);
    overflow: hidden;
}

.contain-newpage3 {
    top: 860px;
    left: 11%;
    position: absolute;
    height: 350px;
    width: 80%;
    box-shadow: -6px 4px 20px 1px #2A2A2A;
    background-image: linear-gradient(to top left, #CC2259, #EF9920);
    overflow: hidden;
}

.contain-newpage4 {
    top: 1215px;
    left: 11%;
    position: absolute;
    height: 350px;
    width: 80%;
    box-shadow: -6px 4px 20px 1px #2A2A2A;
    background-image: linear-gradient(to top left, #CC2259, #EF9920);
    overflow: hidden;
}

.contain-newpage-text {
    font-family: Constantia;
    font-weight: bold;

}

.contain-newpage-text2 {
    font-family: Segoe Print;
    font-size: 1.3rem;
}

.contain-newpage-head h1 {
    font-family: Constantia;
    font-weight: bold;
    font-size: 70px;
}



.contain-newpage-itm2-img1 img {
    width: 500px;
    height: 260px;
    box-shadow: -6px 4px 20px 1px grey;
    margin-top: 20px;

}

.contain-newpage-itm2-img2 img {
    width: 500px;
    height: 280px;
    box-shadow: -6px 4px 20px 1px grey;
    margin-top: 10px;

}

.contain-newpage-itm2-img3 img {
    width: 500px;
    height: 300px;
    box-shadow: -6px 4px 20px 1px grey;

}

.contain-newpage-itm2-img4 img {
    width: 500px;
    height: 260px;
    box-shadow: -6px 4px 20px 1px grey;
    margin-top: 20px;
}

.contain-newpage-itm2-img5 img {
    width: 500px;
    height: 280px;
    box-shadow: -6px 4px 20px 1px grey;

    margin-top: 10px;
}

.contain-newpage-itm2-img6 img {
    width: 500px;
    height: 300px;
    box-shadow: -6px 4px 20px 1px grey;

}

.contain-newpage-itm2-img7 img {
    width: 500px;
    height: 260px;
    box-shadow: -6px 4px 20px 1px grey;
    margin-top: 20px;
}

.contain-newpage-itm2-img8 img {
    width: 500px;
    height: 280px;
    box-shadow: -6px 4px 20px 1px grey;

    margin-top: 10px;
}

.contain-newpage-itm2-img9 img {
    width: 500px;
    height: 300px;
    box-shadow: -6px 4px 20px 1px grey;

}

.contain-newpage-itm2-img10 img {
    width: 500px;
    height: 260px;
    box-shadow: -6px 4px 20px 1px grey;
    margin-top: 20px;
}

.contain-newpage-itm2-img11 img {
    width: 500px;
    height: 280px;
    box-shadow: -6px 4px 20px 1px grey;

    margin-top: 10px;
}

.contain-newpage-itm2-img12 img {
    width: 500px;
    height: 300px;
    box-shadow: -6px 4px 20px 1px grey;

}

.contain-newpage-itm2-img1 {
    position: absolute;
    right: 200px;

}

.contain-newpage-itm2-img2 {
    position: absolute;
    right: 100px;

}

.contain-newpage-itm2-img3 {
    position: absolute;
    right: 0;

}

.contain-newpage-itm2-img4 {
    position: absolute;
    right: 200px;

}

.contain-newpage-itm2-img5 {
    position: absolute;
    right: 100px;

}

.contain-newpage-itm2-img6 {
    position: absolute;
    right: 0;

}

.contain-newpage-itm2-img7 {
    position: absolute;
    right: 200px;

}

.contain-newpage-itm2-img8 {
    position: absolute;
    right: 100px;

}

.contain-newpage-itm2-img9 {
    position: absolute;
    right: 0;

}

.contain-newpage-itm2-img10 {
    position: absolute;
    right: 200px;

}

.contain-newpage-itm2-img11 {
    position: absolute;
    right: 100px;

}

.contain-newpage-itm2-img12 {
    position: absolute;
    right: 0;

}

.effect-window-text {
    width: 90%;
    height: 50%;
    margin: 10px;
    line-height: 1.8rem;
}

.effect-window-img img {
    width: 100%;
    height: 500px;
}

.effect-window-itms {
    width: 100%;
    height: 500px;
}

.effect-window-text-h {
    font-family: Constantia;
    font-weight: bold;
}

.effect-window-text-p {
    text-align: center;
}

.container-big {
    height: 100%;
    width: 100%;
}

/*index 5*/
.pos-img {
    height: 450px;
    overflow: hidden;
    background-position: top;
    background-size: cover;
}

.pos-img img {
    width: 100%;
}

.js-reveal {
    opacity: 1;
    transition: opacity 0.7s ease-in, margin-top 0.7s ease-out;
}

.js-reveal--hidden {
    opacity: 0;
    margin-top: 3em;
}

.grid {
    position: relative;
    clear: both;
    margin: 0 auto;

    max-width: 1000px;
    list-style: none;
    text-align: center;
}


.grid figure {
    position: relative;
    float: left;
    overflow: hidden;

    width: 48%;

    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

figure.effect-apollo {
    background-color: rgba(52, 152, 219, 0.5);
}

figure.effect-apollo img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}

figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}

figure.effect-apollo p {
    position: absolute;
    right: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-apollo h2 {
    text-align: left;
}

figure.effect-apollo:hover img {
    opacity: 0.6;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}


div.effect-text {
    position: absolute !important;
    bottom: 150px !important;
    left: 40px !important;
    color: white !important;
}


figure.effect-duke {
    background: -webkit-linear-gradient(-45deg, #34495e 0%, #cc6055 100%);
    background: linear-gradient(-45deg, #34495e 0%, #cc6055 100%);
}

figure.effect-duke img,
figure.effect-duke p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-duke:hover img {
    opacity: 0.1;
    -webkit-transform: scale3d(2, 2, 1);
    transform: scale3d(2, 2, 1);
}

figure.effect-duke h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

figure.effect-duke p {
    position: relative;
    margin: 20px;
    padding: 30px;
    border: 2px solid #fff;
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transform-origin: 50% -100%;
    transform-origin: 50% -100%;
}

figure.effect-duke:hover h2,
figure.effect-duke:hover p {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

#zero {
    background-color: #272727;
    width: 280px !important;
    height: 560px;
    position: absolute;
    margin-left: -260px;
    z-index: 2;
    cursor: none;
    margin-top: 100px;

}

.hero {
    margin-left: 260px;
    width: 260px;
    z-index: 100;
}

/*Vertical carousel */

.vertical-center {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: white !important;
}

.slider {
    width: 100%;
    overflow: hidden;

}

.slick-slide img {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.slick-prev:before,
.slick-next:before {
    color: black;
    display: none;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: 1;
    transition: all 1s;
    transform: scale(1.2);


}

.slick-current {
    opacity: 1;
    height: 100%;
}

.min {
    padding: 0 !important;
    margin: 0 !important;
    min-height: 63vh;
    overflow: hidden;
    position: relative;
}

/*index6 Begin style visa card*/

.visacard-header-img img {
    width: 100%;
    height: 400px;
}

.visacard-header-text {
    width: 40%;
    height: 66px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    color: white;
    right: 0;
    margin-top: -66px;
    border-top-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    z-index: 999;
}

.visacard-header-text h1 {
    font-family: Constantia;
    font-weight: bold;
    margin-bottom: 0px;
}

.flag-img {
    margin: 35px 0px;
    padding: 10px;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.2);
    border-radius: 7px;
}

.flag-img img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.visacard-itms {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    padding: 0px;
    transition: all 0.4s ease-in-out;
}

.visacard-itms:hover {
    box-shadow: 0 0 11px #777;
    transition: all 0.4s ease-in-out;

}


.visacard-itms-text {
    font-family: Constantia;
    font-weight: bold;
    margin-top: 50px !important;
    background-image: linear-gradient(to top right, lightblue, white);
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    padding: 12px;
}

.flag-img h6 {
    font-family: Constantia;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    position: 0;
    margin: 0;
}

.visacard-itms-text2 {
    font-family: Courier New;
    font-weight: bold;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.visacard-itms .row {
    font-size: 12.5px;
    margin-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*margin-top: 40px !important;*/
    background-image: linear-gradient(to top right, lightblue, white);

}

.visacard-itms .row {
    border: 1px solid #DEF2F2;
    padding-top: 20px;
    background-color: #F1F3F4;
}

.visacard-itms .row div.col-3 {
    padding-left: 20px !important;
}

.head-text-new {
    margin-left: 200px;
}

/*index6 End style visa card*/

/*index7 transports*/

.trans-first-page {
    width: 100%;
    height: 100%;
    background: fixed;
    background-size: cover;
    z-index: 100;
}

.trans-first-page-inner-text {
    width: 30%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.4);
}

.trans-first-page-inner-text h3 {
    color: white;
    text-align: center;
}

.trans-first-page-inner-img {
    width: 50%;
    height: 70%;

}

.trans-first-page-inner-img img {
    width: 100%;
    height: 100%;
}

.trans-second-page {
    background: fixed;
}

.trans-second-page-inner {
    width: 100%;
    height: 500px !important;
}

.trans-second-page-text {
    color: white;
    font-family: Constantia;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 30px;
}


.trans-second-page-text2 {
    color: lightblue;
    font-family: Constantia;
    margin-top: 20px;
    margin-left: 30px;
}

.trans-second-page-text3 {
    color: white;
    font-family: Courier New;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.block-wrapper {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-item {
    display: flex;
    width: 30%;
    position: relative;
    align-items: center;
}

.block-item-elements {
    display: flex;
    align-items: center;
}

.block-title {
    color: #4967ff;
    font-size: 21px;
    text-transform: uppercase;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    top: 35%;
    left: 0;
    font-weight: bold;
}

.block-title span {
    color: #97b6ff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-figure {
    font-size: 250px;
    display: flex;
    color: #d5edff;
    font-weight: bold;
}

.block-text {
    color: #10163a;
    font-size: 15px;
    margin-left: 25px;
}

.block-item-title {
    text-shadow: 0px 0px 7px #8795ff;
    color: #4967ff;
    font-size: 21px;
    text-transform: uppercase;
    z-index: 2;
    position: absolute;
    top: 35%;
    left: 0;
    font-weight: bold;
}

.block-item-title span {
    color: #687fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* media  */
@media (max-width: 1024px) {
    .block-item {
        width: 45%;
        margin-bottom: 100px;
        justify-content: space-between;
    }
}

.trans-third-page {
    width: 100%;
    height: 100%;
    background: fixed;
    background-size: cover;
    z-index: 100;
}

.trans-third-page-inner-text {
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.trans-third-page-inner-text h3 {
    color: white;
    text-align: center;
}

.trans-third-page-inner-img {
    width: 100%;
    height: 50%;

}

.trans-third-page-inner-img img {
    width: 100%;
    height: 100%;
}

.trans-third-page-text {
    color: white;
    font-family: Constantia;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 30px;
}


.trans-third-page-text2 {
    color: lightblue;
    font-family: Constantia;
    margin-top: 20px;
    margin-left: 30px;
}

.trans-third-page-text3 {
    color: white;
    font-family: Courier New;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
}


.trans-third-page2 {
    background-color: rgba(0, 0, 0, 0.5);
}

.trans-four-page {
    width: 100%;
    height: 100%;
    background: fixed;
    background-size: cover;
    z-index: 100;
}

.trans-four-page-inner {
    width: 100%;
    height: 100% !important;
    background-size: cover;
}

.trans-four-page-inner-text {
    width: 100%;
    height: 50%;
}

.trans-four-page-inner-img {
    overflow: hidden;
    height: 50%;
    width: 100%;
}

.trans-four-page-inner-text2 {
    text-align: center;
    text-align: center;
    font-family: Courier New;
    font-weight: normal;
}

.trans-four-page-inner-text3 {
    color: #17A2B8;
    font-family: Constantia;
    text-align: center;
    font-weight: bolder;
}




/*index 8 Contact*/

.con-first {

    background: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.con-first-inner {
    background-color: rgba(255, 255, 255, 0.6);
}






/*index 9 news*/

.news-header {
    width: 100%;
    height: 400px;

}

.news-header2 {
    /*margin-top: -25%;*/
}

.news-header-inner {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.news-header-inner-itm {
    width: 40%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    bottom: 0;
    border-top-left-radius: 50px;
}

.news-header-inner-itm-text {
    color: white;
    font-family: Constantia;
    font-weight: bold;
}

.news-header-inner-itm2 {
    width: 40%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    border-bottom-right-radius: 50px;
}

.news-header-inner-itm-text2 {
    color: white;
    font-family: Constantia;
    font-weight: bold;
}

.news-first-itm {
    width: 100%;
    height: 40%;
    box-shadow: 1px 1px 14px -5px rgba(0, 0, 0, 1);
}

.news-first-itm-text-inner {
    font-family: Constantia;
    font-weight: bold;
}

.news-first-itm-text-inner2 {
    font-family: Courier;
    /*font-weight: bold;*/
}

.news-second-itm {
    /*width: 100%;*/
    /*height: 100%;*/
    box-shadow: 1px 1px 14px -5px rgba(0, 0, 0, 1);
}

.news-second-itm-text-inner {
    font-family: Constantia;
    font-weight: bold;
}

.news-second-itm-text-inner2 {
    font-family: Courier;
    /*font-weight: bold;*/
}




/*index3 privorder*/



/*PRELOADING------------ */
#overlayer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 3;
    border: 4px solid #Fff;
    top: 50%;
    left: 50%;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}


/*index10 tur opisaniya*/

.turopisaniya {
    border-radius: 3px;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, .1);
    text-align: left;
}

th.table-number {
    vertical-align: middle !important;
    text-align: center !important;
}

td {
    vertical-align: middle !important;
}

.test321 {
    font-family: Constantia;
}