body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9eeee !important;
}


*,
*:after,
*::before {
    box-sizing: border-box;
}

.fp-tableCell {
    height: 0 !important;
}



a {
    color: #fff;
    text-decoration: none;
}


.container-body {
    width: 100%;
    height: 100%;
}



.sticky-head {
    width: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.head-text2 ul li {
    list-style-type: none;
    font-family: arial;

}


.head-text3-itm {
    font-family: MS UI Gothic;
}

.fab,
.fas {
    font-size: 20px;
}

.head-text2-itm::after {
    content: "|";
    font-size: 22px;
}

.sticky-head2 {
    margin-top: 117px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.6);
}

.sticky-head2-itm li {
    list-style-type: none;
    font-size: 20px;
    font-family: Bahnschrift SemiLight Condensed;
    font-weight: bold;

}

.sticky-head2-itm {
    margin: 10px;
    padding: 10px;
}



.content {
    background-image: url(../images/02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
}


.horizontal:hover {
    transform: scale(1.005);
    transition: all 0.5s;
}

.name-text {
    font-family: Segoe UI Black;
}

.fas,
.fab {
    font-size: 20px;
}

.plagen {
    width: 500px;
}



.navbar-brand {
    font-size: 35px !important;
}

figure.effect-zoe:hover .parda img {
    opacity: 0.5;
}

.grid {
    margin-top: 100px;
}

.text-img {
    width: 600px;
    height: 100px;
    transform: rotateX(180deg);
}

.slick {
    width: 100%;
    margin: auto;
}

.slick img {
    width: 100%;
    height: 100%;
}

.effect-zoe {
    box-shadow: 1px 1px 14px -5px rgba(0, 0, 0, 1);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.4);
}

.pngg {
    width: 160px;
    height: 100px;
    margin-bottom: -15px;

}






.hotel-pic {
    background-image: url(../images/viproom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}



.hotel-qanot {
    z-index: -1;
    left: 0;
    top: 0;
    background-color: #8A716A;
}

.hotel-qanot2 {
    z-index: -1;
    right: 0;
    bottom: 0;
    background-color: #F4B907;
}



.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

.hotel-itm {
    /*    z-index: -1;*/
}

.hotel-text {
    width: auto;
    height: auto;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
}

.text-span {
    position: absolute;
    top: 10px;
    margin-left: -50px;
    width: 40px;
    height: 2px;
    background-color: red;
}



.text2 {
    font-weight: bold;
    font-family: Arial;
    line-height: 1;
    margin-bottom: 1rem;
    margin-top: -5px;


}

.text3 {
    font-family: @MingLiU_HKSCS-ExtB;
    font-size: 1.4rem;
    margin-left: 50px;
    margin-top: 10%;
}

.text4 {
    position: absolute;
    bottom: 10px;
    left: 22%;
    font-size: 1.3rem;
}

.spann {
    position: absolute;
    width: 50px;
    height: 2px;
    top: 50%;
    background-color: blue;
    left: 120%;
}

.btn {
    position: absolute;
    top: 20px;
    right: 20px;

}

/*Drop down css style*/

.menu {
    background: rgba(0, 0, 0, 0.5);
    height: 6rem;
}


.menu div ol {
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0;
}

.menu>div>ol {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.menu>div>ol>li {
    margin-right: 50px;
}

.menu>ol>.menu-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0.75rem 0;
}

.menu>ol>.menu-item:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    bottom: 5px;
    left: calc(50% - 2px);
    background: #FECEAB;
    will-change: transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.menu>ol>.menu-item:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.menu-item {
    position: relative;
    line-height: 2.5rem;
    text-align: center;
}

.menu-item>a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2rem;

}

.sub-menu .menu-item {
    padding: 0.75rem 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    width: 170px;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-animation: enter 0.2s ease forwards;
    animation: enter 0.2s ease forwards;
}

.sub-menu .menu-item:nth-child(1) {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sub-menu .menu-item:nth-child(2) {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sub-menu .menu-item:nth-child(3) {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sub-menu .menu-item:hover {
    background: rgba(0, 0, 0, 0.5);
}

.sub-menu .menu-item a {
    padding: 0 0.75rem;
    font-weight: bold !important;

}

.menu-item a:hover {
    text-decoration: none;
    color: white;
    border-top: 1px solid white;
    transition: all 0.5s;
}

@media screen and (max-width: 600px) {
    .sub-menu .menu-item {
        background: #C06C84;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        position: relative;
    }

    .menu:after {
        content: "";
        position: absolute;
        top: calc(50% - 2px);
        right: 1rem;
        width: 30px;
        height: 4px;
        background: #FFF;
        -webkit-box-shadow: 0 10px #FFF, 0 -10px #FFF;
        box-shadow: 0 10px #FFF, 0 -10px #FFF;
    }

    .menu>ol {
        display: none;
        background: #F67280;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100vh;
        -webkit-animation: fade 0.2s ease-out;
        animation: fade 0.2s ease-out;
    }

    .menu>ol>.menu-item {
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0;
        opacity: 0;
        -webkit-animation: enter 0.3s ease-out forwards;
        animation: enter 0.3s ease-out forwards;
    }

    .menu>ol>.menu-item:nth-child(1) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .menu>ol>.menu-item:nth-child(2) {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .menu>ol>.menu-item:nth-child(3) {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .menu>ol>.menu-item:nth-child(4) {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .menu>ol>.menu-item:nth-child(5) {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .menu>ol>.menu-item+.menu-item {
        margin-top: 0.75rem;
    }

    .menu>ol>.menu-item:after {
        left: auto;
        right: 1rem;
        bottom: calc(50% - 2px);
    }

    .menu>ol>.menu-item:hover {
        z-index: 1;
    }

    .menu:hover>ol {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .menu:hover:after {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.sub-menu {
    margin-top: 25px !important;
}

.sub-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: -10%;
    display: none;
    z-index: 1;
}

.menu-item:hover>.sub-menu {
    display: block;
}

@media screen and (max-width: 600px) {
    .sub-menu {
        width: 100vw;
        left: -2rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

@-webkit-keyframes enter {
    from {
        opacity: 0;
        -webkit-transform: scaleY(0.98) translateY(10px);
        transform: scaleY(0.98) translateY(10px);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes enter {
    from {
        opacity: 0;
        -webkit-transform: scaleY(0.98) translateY(10px);
        transform: scaleY(0.98) translateY(10px);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.carousel-item-word {
    position: absolute;
    width: 100%;
    left: 100px;
    bottom: 100px;
    color: white;
}

.carousel-item-text {
    /*position: absolute;*/
    font-size: 2rem;
    font-family: Segoe Print;
}

.carousel-item-text2 {
    position: absolute;
    right: 200px;
    bottom: 50px;
    font-size: 1.2rem;
    font-family: arial;
}

.carousel-item-text3 {
    font-size: 1.2rem;
    font-family: arial;
}

.second-page {
    /*width: 100%;*/
    height: 50%;
}

.second-page-itm {
    position: relative;
    z-index: 1;
}

.second-page-itm-text {
    /*position: absolute;*/
    text-align: center;
    padding-top: 150px;
    font-family: Constantia;
    font-weight: bold;
    font-size: 3.5rem;
}

.second-page-itm-img {
    position: absolute;
    width: 40%;
    top: 200px;
    left: 30%;
}

.second-page-itm-btn {
    position: absolute;
    left: 46%;
    top: 400px;
    width: 160px;
    border: 1px solid grey;
    color: grey;
    padding: 12px;
}

.second-page2 {
    overflow: hidden;
    background-position: left;
    width: 100%;
    height: 100%;
}



.second-page2 .col-4 p,
h6 {
    position: absolute;
    color: white;
    margin: 20px;
    top: 10px;
    font-size: 1.4rem;
}

.second-page2 .row .col-4 img {
    width: 550px;
    height: 450px;
}



.second-page3 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #3F4A5C;
    color: white;
}

.second-page3-text {
    text-align: center;
    font-family: Constantia;
    font-weight: bold;
    font-size: 3.5rem;

}


.second-page3-text2 {
    text-align: center;
    font-size: 1.3rem;
    font-family: Courier New;
    /*font-weight: bolder;*/
}

.second-page3-img {
    width: 400px;
    margin-left: 28%;
}

.second-page3-btn {
    width: 160px;
    border: 1px solid grey;
    color: grey;
    padding: 12px;
    margin-left: 37%;
    background-color: #3F4A5C;
}

.none {
    display: none;
}

.block {
    display: block;

}

.end-carousel-text {
    padding-top: 30px;
    padding-bottom: 30px;
    color: grey;
    font-size: 2.25em;
    text-align: center;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}

.carousel .slide .carousel-multi-item {
    margin-left: -100px !important;
}

figure {
    width: 500px !important;
    height: 250px !important;
}

figure img {
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 14px -5px rgba(0, 0, 0, 1) !important;
}

.contain-newpage-itm {
    /* margin-top: 50px;*/
}

.carousel-indicators {
    display: none !important;
}

.controls-top {
    visibility: hidden !important;
}

.contain-newpage-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}


.contain-newpage {
    height: 350px;
    width: 100%;

}

.contain-newpage-text {
    font-family: Constantia;
    font-weight: bold;
}

.contain-newpage-text2 {
    font-family: Constantia;
    font-size: 1.2rem;
}


.contain-newpage-itm2-img1 img {
    width: 500px;
    height: 260px;
    box-shadow: -6px 4px 20px 1px grey;

}

.contain-newpage-itm2-img2 img {
    width: 500px;
    height: 280px;
    box-shadow: -6px 4px 20px 1px grey;


}

.contain-newpage-itm2-img3 img {
    width: 500px;
    height: 300px;
    box-shadow: -6px 4px 20px 1px grey;

}

.contain-newpage-itm2-img1 {
    position: absolute;
    right: 200px;

}

.contain-newpage-itm2-img2 {
    position: absolute;
    right: 100px;

}

.contain-newpage-itm2-img3 {
    position: absolute;
    right: 0;

}



.contain-newpage-itm2-img1 img:hover {

    transform: scale(1.1);
    transition: all 1s;
}

.contain-newpage-itm2-img2 img:hover {

    transform: scale(1.1);
    transition: all 1s;
}

.contain-newpage-itm2-img3 img:hover {

    transform: scale(1.05);
    transition: all 1s;
}

.img1 {
    transition: all 1s;
    z-index: 10;
}

.img2 {
    transition: all 1s;
    z-index: 10;

}

.img3 {
    transition: all 1s;
    z-index: 10;

}

.effect-window-text {
    width: 90%;
    height: 50%;
    margin: 10px;
    line-height: 1.8rem;
}

.effect-window-img img {
    width: 100%;
    height: 500px;
}

.effect-window-itms {
    width: 100%;
    height: 500px;
}

.effect-window-text-h {
    font-family: Constantia;
    font-weight: bold;
}

.effect-window-text-p {
    text-align: center;
}